# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
cookies.txt
session_test.txt
pids
*.pid
*.seed
*.pid.lock

# Project documentation
docs/

# OS / Editor generated
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.env